name: Release
on:
  push:
    tags:
      - '*.*.*'
jobs:

  release:
    name: Release
    runs-on: ubuntu-latest
    steps:

    - name: Set up Go
      uses: actions/setup-go@v3
      with:
        go-version: 1.17

    - name: Check out code
      uses: actions/checkout@v3

    - name: Download Go dependencies
      run: go mod download

    - name: Get upx
      run: sudo apt install -y upx

    - name: Make release
      uses: goreleaser/goreleaser-action@v4
      with:
        distribution: goreleaser
        version: v1.15.2
        args: release --clean
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
